.Wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: url(../../assets/background.png) top center/cover no-repeat rgba(255,255,255,.8);
}

