.Wrapper {
  padding: 100px 10% 80px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.Wrapper .Header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Wrapper h1 {
  font-size: 50px;
  line-height: 1;
  color: #414d59;
}

.Wrapper .buttonCreate {
  width: 100%;
  padding: 18px;
  border-radius: 30px;
  background-color: #0098ca;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
}

.ideasWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.ideasWrapper h2 {
  color: #0098ca;
  text-align: center;
  font-family: "SF Pro Rounded";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 5.22px;
}

.ideasWrapper .IndividualSets {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}
.ideasWrapper .IndividualSets h3 {
  font-size: 20px;
  font-weight: 600;
}
.ideasWrapper .IndividualSets p {
  font-size: 14px;
  color: #a0a5ba;
  text-wrap: wrap;
}
.ideasWrapper .IndividualSets button {
  background-color: transparent;
  color: #0098ca;
  font-size: 17px;
}


.IndividualSets .Likes{
    display: flex;
    gap: 15px;
}