.Wrapper {
  min-height: 100vh;
  background: url(./Welcome.png) center center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.Wrapper button{
    position: absolute;
    bottom: 6%;
    background-color: #0098CA;
    width: 80%;
    padding: 15px;
    border-radius: 30px;
    font-size: 17px;
}